header{
    background-color: rgb(229, 243, 102);
    padding: 20px 20px;
    margin: 0px auto;
}

main{
 
    padding: 20px 20px;
    margin: 0px auto;
}

footer{
    background-color: blue;
    padding: 20px 20px;
    margin: 0px auto;
}


input, select {
    outline: 0;
    border-width: 0 0 2px;
    border-color: red;
  }
  input:focus {
    border-color: green
  }